<section id="main-menu-pane" class="row text-center main-menu">
  {{ range sort .Site.Menus.main }}
  <h4><a class="menu-item" href="{{ .URL }}">{{ .Name | lower }}</a></h4>
  {{ end }}

  <hr />

  <div class="parent">
    <p>
      Hi! I'm Jorge Cimentada, Founder and Chief Data Scientist at
      <a href="https://cognitivalabs.com"> Cognitiva Labs </a>, a boutique data
      science consulting firm. My expertise lies in developing machine learning
      models at scale and deploying data ingestion systems with cutting-edge
      MLOps engineering. My academic background includes a PhD in Computational
      Sociology, where I focused on using statistical methods to analyze
      inequality in educational systems. I'm also passionate about creating
      open-source tools for data wrangling, data science, and machine learning.
      To explore my projects and educational content, check out the following
      links:
    </p>

    <ul class="parent">
      <li>
        Find my open-source contributions, including statistical estimations,
        API wrappers, and data acquisition tools, on
        <a href="https://github.com/cimentadaj">GitHub</a>.
      </li>
      <li>
        I've developed several courses, including ones on
        <a href="https://cimentadaj.github.io/ml_socsci/">Machine Learning</a>
        and
        <a href="https://cimentadaj.github.io/dataharvesting/index.html"
          >Data Harvesting</a
        >.
      </li>
      <li>
        My consulting work spans machine learning and statistical software
        development, with collaborations including the
        <a href="https://population.un.org/wpp/"
          >United Nations Population Division</a
        >
        and the
        <a href="https://timriffe.github.io/DemoTools/"
          >Max Planck Institute for Demographic Research</a
        >.
      </li>
      <li>
        For more professional details, visit my
        <a href="https://www.linkedin.com/in/jorge-cimentada-1740877a/"
          >LinkedIn profile</a
        >.
      </li>
    </ul>

    <p>
      Outside of professional pursuits, I enjoy music as the drummer of
      <a href="https://www.instagram.com/yeituei/">YEITUEI</a>.
    </p>
  </div>
</section>
