<section id="main-menu-pane" class="row text-center main-menu">


    {{ range sort .Site.Menus.main }}
    <h4><a class="menu-item" href="{{ .URL }}">{{ .Name | lower }}</a></h4>
    {{ end }}

    <hr>

    <div class="parent">

    <p>
        Hi! I’m Jorge Cimentada, Senior Data Scientist at eDreams Odigeo and a Professor at <a href="https://www.uc3m.es/master/computational-social-science"> University Charles III of Madrid </a>.  Most of my time I dedicate to developing machine learning models at scale and deploying data ingestion systems using state-of-the-art MLOps engineering. I earned a PhD in Computational Sociology where I used statical methods to understand inequality in educational systems. I also like to build open source tools for data wrangling, data science and more broadly machine learning.
        If you’d like to learn more about what I do, have a look at some of my projects or courses: </p>

    <ul class="parent">

            <li> <a href="https://github.com/cimentadaj"> Open source software </a> related to statistical estimations, API wrappers, data acquisition. </li>

            <li> I’ve taught many courses over the years, two of them are on <a href="https://cimentadaj.github.io/ml_socsci/"> Machine Learning </a> and <a href="https://cimentadaj.github.io/dataharvesting/index.html"> Data Harvesting </a>. </li>

            <li> I regularly do consulting work related to machine learning and statistical software development. Some of my work includes the <a href="https://population.un.org/wpp/"> United Nations Population Division </a> and the <a href="https://timriffe.github.io/DemoTools/"> Max Planck Institute for Demographic Research </a>. </li>

            <li> For CV related things check out my <a href="https://www.linkedin.com/in/jorge-cimentada-1740877a/"> linkedin profile </a>. </li>

        </ul>

        <p>
            Outside of my work life, I have a band called <a href="https://www.instagram.com/yeituei/"> YEITUEI </a> where I play drums.
        </p>

    </div>

</section>
